<div class="d-flex justify-content-center flex-column">
  <h1 class="text-center mt-2 rest">KipsoftTest</h1>
  <app-searchbar></app-searchbar>
  <div class='divider dropdown-divider mt-4 mx-auto'></div>
  <div>
    <div class="mt-2 row p-5">
      <div class="d-flex" >
        <app-loading class="mx-auto" [hidden]="!loading"></app-loading>
      </div>
<!--      <app-company-card class="col-sm-6 col-md-4 col-lg-3"></app-company-card>-->
      <app-pagination class="col-sm-6 col-md-4 col-lg-3"></app-pagination>
    </div>
  </div>
</div>
